
<!-- form start -->
<%= form_for @word do |f| %>
  <div class="box-body">
    <div class="form-group">
      <%= f.label "ཁ་བྱང་།" %>
      <%= f.text_field :title, :class => 'form-control' %>
      <%= @word.errors[:title].first unless @word.errors[:title].blank? %>
    </div>
    <div class="form-group">
      <%= f.label "འགྲེལ་བཤད།" %>
      <%= f.text_area :description, :class => 'form-control', cols: 20, rows: 10 %>
      <%= @word.errors[:description].first unless @word.errors[:description].blank? %>
    </div>
    <div class="form-group">
      <%= f.label "གླེགས་བམ།" %>
      <%= f.collection_select :volumes_id, Volume.order(:id),:id,:title, {}, {:class => 'form-control'} %>
      <%= @word.errors[:volumes_id].first unless @word.errors[:volumes_id].blank? %>
    </div>
    <div class="form-group">
      <%= f.label "ཡིག་ཆ་འཇུག་འགོད།" %>
      <%= f.file_field :attachment %>
      <p class="help-block">འདྲ་པར་འཇུག་འགོད།</p>
    </div>
    <div class="radio">
      <label>
        <%= f.radio_button :active, true %>
        <%= label :active, 'མངོན་སྟོན།' %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= f.radio_button :active, false %>
        <%= label :active, 'མངོན་སྟོན་མི་བྱེད།' %>
      </label>
    </div>
  </div><!-- /.box-body -->

  <div class="box-footer">
    <%= f.submit "གཏན་འཁེལ།", :class => 'btn btn-primary' %>
    <% if @word.id.blank? %>
      <%= f.submit "Submit and continue", :class => 'btn btn-primary' %>
    <% end %>


  </div>
<% end %>
